{% extends "base.html" %}

{% block title %} Notes {% endblock%}

{% block style%}
    <style>
        body{
            margin: 0;
            padding: 0;
            font-family: Arial,sans-serif;
        }
        .header{
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
        }
        .note-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            max-width: 1600px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }
        .note{
            width: calc(20% - 20px);
            height: 300px;
            border: 1px solid #ccc;
            margin: 0 10px 30px 10px;
            padding: 10px;
            overflow: auto;
            box-sizing: border-box;
        }
        .yellow{
            background-color: #feff9c;
        }

        .lightblue{
            background-color: lightblue;
        }
        .pink{
            background-color: pink;
        }
    </style>
{% endblock%}

{% block content %}

<div style="text-align: center;">
    <h1 style="margin-bottom: 10px;">Create a new note</h1>
    <form action="{{url_for('add_note')}}" method="post" >
        <input type="text" name="note_name" placeholder="Take a note..." style="color: grey;">
        <select name="note_color">
            <option value="yellow">Yellow</option>
            <option value="lightblue">Blue</option>
            <option value="pink">Pink</option>
        </select>
        <button type="submit" class="btn btn-dark w-100">Add note</button>
    </form>
</div>
<div class="note-container">
    {% for note in notes%}
        <div class="note {{note.color}}" style="position: relative;">
            <p>{{note.text}}</p>
            <form action="{{ url_for('delete_note', note_id=note.id) }}" method="post" style="position: absolute; bottom: 5px; right: 0px;">
                <button class="btn btn-outline-dark" style="transform: scale(0.75);">Delete</button>
            </form>
        </div>

    {%endfor%}
</div>


{%endblock%}
