{% extends "base.html" %}

{% block title %} Notes {% endblock%}

{% block style%}
    <style>
        body{
            margin: 0;
            padding: 0;
            font-family: Arial,sans-serif;
        }
        .note-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            max-width: 1600px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }
        .note{
            width: calc(20% - 20px);
            height: 300px;
            border: 1px solid #ccc;
            margin: 0 10px 30px 10px;
            padding: 10px;
            overflow: auto;
            box-sizing: border-box;
        }
        .yellow{
            background-color: #feff9c;
        }

        .lightblue{
            background-color: lightblue;
        }
        .pink{
            background-color: pink;
        }
        .green{
            background-color: darkseagreen;
        }
        .orange{
            background-color: darkorange;
        }
        .gray{
            background-color: lightslategray;
        }
    </style>

{% endblock%}

{% block content %}
<div style="margin-top: 10px; text-align: center;">
    <div class="card-header bg-light text-black">
        <h1> Notes </h1>
        <form action="{{url_for('add_note')}}" method="post">
            <textarea class="form-control" placeholder="Take a note..." style="background:ghostwhite; color:black; height: 100px; overflow: auto;" id="input-note" name="note_name"></textarea>
            <label for="color-select">Choose color:</label>
            <select name="note_color" id="color-select">
                <option value="yellow">Yellow</option>
                <option value="lightblue">Blue</option>
                <option value="pink">Pink</option>
                <option value="green">Green</option>
                <option value="orange">Orange</option>
                <option value="gray">Gray</option>
            </select>
            <button type="submit" class="btn btn-dark w-100" id="add-note">Add note</button>
        </form>
    </div>
    <div class="note-container" id="note-container">
        {% for note in notes %}
        <div class="note {{note.color}}" style="position: relative;">
            <p>{{note.text}}</p>
            <form action="{{ url_for('delete_note', note_id=note.id) }}" method="post" style="position: absolute; bottom: 5px; right: 0px;">
                <button class="btn btn-outline-danger" style="transform: scale(0.75);">Delete</button>
            </form>
            <button type="button" class="btn btn-outline-dark ml-2" data-toggle="modal" data-target="#editModal-{{ note.id }}" style="transform: scale(0.75); position: absolute; bottom: 5px; right: 65px; ">Edit</button>
            <div class="modal fade" id="editModal-{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content ">
                            <div class="modal-header bg-dark" >
                                <h5 class="modal-title" id="exampleModalLabel" style=" color:aliceblue">Edit note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="background-color: ghostwhite;">
                                <form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
                                    <textarea class="form-control" placeholder="Edit..." style="background:whitesmoke; color:black; height: 200px;" name="new_note_name" id="new_note_name">{{ note.text }}</textarea>
                                    <button type="submit" class="btn w-100" style="background-color: black; color:whitesmoke; margin-top: 10px;">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        {% endfor %}
    </div>
</div>
{%endblock%}
