{% extends "base.html" %}
{% block title %} To Do List{% endblock %}
{% block content %}

<div class="border border-muted" style="margin: 20px; background-color: #f6f7f2;">
    <div class="card-header bg-dark text-white">
        <div style="text-align: center;"> 
            <h1> Add task to do</h1>
            <form action="{{url_for('todo')}}" method="post">
                <input type="text" class="form-control" placeholder="Enter Task" style="background:black; color:whitesmoke" id="input-todo" name="todo_name">
                <select class="form-select" aria-label="Priority" name="todo_priority">
                    <option class="bg-success" value="low">Low</option>
                    <option class="bg-warning" value="medium">Medium</option>
                    <option class="bg-danger" value="high">High</option>
                </select>
                <button type="submit" class="btn w-100 btn-outline-light" style="margin-top: 10px; background-color: black; color:whitesmoke" id="add-todo">Add Task</button>
            </form>
        </div>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark " style="border:1px solid aliceblue; color: aliceblue; margin-top: 10px;;">
            kontent
        </div>
    
    

    {% for item in items %}
    <div class="container mx-auto text-white" style="margin-top: 5px; margin-bottom: 5px; ">
        <div class="row" style="border-bottom: 1px solid #f6f7f2; align-items: center; ">
            <div class="col-2 ">
                <span style="text-align: center;">{{ item.date }}</span>
            </div>
            <div class="col-7 " style="word-wrap: break-word;">
                <form action="{{ url_for('checked_todo', todo_id=item.id) }}" method="post" class="d-inline-block mr-2">
                    <input type="checkbox" name="completed" style="transform: scale(2);" {% if item.checked %} checked {% endif %} onchange="this.form.submit()">
                </form>
                <span>{{ item.name }}</span>
            </div>
            <div class="col-1" >
                {% if item.priority == 'low' %}
                    <span class="bg-success">Low</span>
                {% elif item.priority == 'medium' %}
                    <span class="bg-warning">Medium</span>
                {% elif item.priority == 'high' %}
                    <span class="bg-danger" >High</span>
                {% endif %}
            </div>
            <div class="col-2 " style="display: flex; justify-content: left; align-items: center;">
                
                <form action="{{ url_for('delete_todo', todo_id=item.id) }}" method="post" class="d-inline-block">
                    <button class="btn btn-outline-danger" style="transform: scale(0.75);">Delete</button>
                </form>
                <button type="button" class="btn btn-outline-success ml-2" data-toggle="modal" data-target="#editModal-{{ item.id }}" style="transform: scale(0.75); margin-right: 20px;">Update</button>
                <div class="modal fade" id="editModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content ">
                            <div class="modal-header bg-dark" >
                                <h5 class="modal-title" id="exampleModalLabel" style=" color:aliceblue">Edit Task</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="background-color: #192026;">
                                <form action="{{ url_for('update_todo', todo_id=item.id) }}" method="post">
                                    <textarea placeholder="Edit task" name="new_todo_name" class="form-control" style="background: black; color: whitesmoke; min-height: 40vh; overflow-wrap: break-word;">{{ item.name }}</textarea> <!-- textarea umożliwia zawiajeranie tekstu -->
                                    <button type="submit" class="btn w-100" style="background-color: black; color: whitesmoke; margin-top: 10px;">Save</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>  
    {% endfor %}
</div>
</div>

{% endblock %}
