{% extends "base.html" %}

{% block title %} To Do List {% endblock %}

{% block content %}
<div class="border border-muted" style="margin: 20px; background-color: #f6f7f2;">
    <div class="card-header bg-dark text-white">
        <div style="text-align: center;"> 
            <h1> Add task to do</h1>
            <form action="{{ url_for('views.todo') }}" method="post">
                <input type="text" class="form-control" placeholder="Enter Task" style="background:black; color:whitesmoke" id="input-todo" name="todo_name">
                <span style="color:whitesmoke;">Choose priority:</span>
                <select class="form-select b" style="background:black; color:whitesmoke; margin-top: 10px;;"  aria-label="Priority" name="todo_priority">
                    <option class="bg-success" value="low">Low</option>
                    <option class="bg-warning" value="medium">Medium</option>
                    <option class="bg-danger" value="high">High</option>
                </select>
                <button type="submit" class="btn w-100 btn-outline-light" style="margin-top: 10px; background-color: black; color:whitesmoke" id="add-todo">Add Task</button>
            </form>
        </div>

        <div class="row" style=" border-bottom: 1px solid #f6f7f2; margin-top: 10px; margin-bottom: 10px; font-weight: bold; font-size: 18px;">
            <div class="col-2">
                <span>Date</span> <!-- Nagłówek dla daty -->
            </div>
            <div class="col-7" style="word-wrap: break-word; ">
                <span>Task</span> <!-- Nagłówek dla zadania -->
            </div>
            <div class="col-1"   >
                <span>Priority</span> <!-- Nagłówek dla priorytetu -->
            </div>
            <div class="col-2" >
                <span>Actions</span> <!-- Nagłówek dla działań -->
            </div>
        </div>

        {% for todo in todos %}
        <div class="text-white" style="margin: 5px; ">
            <div class="row" style="border-bottom: 1px solid #f6f7f2; align-items: center; ">
                <div class="col-2 ">
                    <span style="text-align: center;">{{ todo.date }}</span>
                </div>
                <div class="col-7 " style="word-wrap: break-word;">
                    <form action="{{ url_for('views.checked_todo', todo_id=todo.id) }}" method="post" class="d-inline-block mr-2">
                        <input type="checkbox" name="completed" style="transform: scale(2);" {% if todo.checked %} checked {% endif %} onchange="this.form.submit()">
                    </form>
                    <span>{{ todo.text }}</span>
                </div>
                <div class="col-1 rounded {% if todo.priority == 'low' %} bg-success {% elif todo.priority == 'medium' %} bg-warning {% elif todo.priority == 'high' %} bg-danger {% endif %}" style="text-align: center;">
                    {% if todo.priority == 'low' %}
                        <span>Low</span>
                    {% elif todo.priority == 'medium' %}
                        <span>Medium</span>
                    {% elif todo.priority == 'high' %}
                        <span>High</span>
                    {% endif %}
                </div>
                
                <div class="col-2 " style="display: flex; justify-content: left; align-items: center;">
                    <form action="{{ url_for('views.delete_todo', todo_id=todo.id) }}" method="post" class="d-inline-block">
                        <button class="btn btn-outline-danger" style="transform: scale(0.75);">Delete</button>
                    </form>
                    <button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#editModal-{{ todo.id }}" style="transform: scale(0.75);">Update</button>
                    <div class="modal fade" id="editModal-{{ todo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content ">
                                <div class="modal-header bg-dark" >
                                    <h5 class="modal-title" id="exampleModalLabel" style="color: aliceblue;">Edit Task</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="background-color: #192026;">
                                    <form action="{{ url_for('views.update_todo', todo_id=todo.id) }}" method="post">
                                        <textarea class="form-control" placeholder="Edit task" style="background:black; color:whitesmoke; min-height: 40vh; overflow-wrap: break-word;" name="new_todo_name" id="new_todo_name">{{ todo.text }}</textarea>
                                        <button type="submit" class="btn w-100" style="background-color: black; color: whitesmoke; margin-top: 10px;">Save</button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        {% endfor %}
    </div>
</div>
{% endblock %}
